<div class="container page">
  <div *ngIf="output && output.notice != null" class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>{{ output.notice }}</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

  <h1 class="main">Bienvenue dans le <span class="redish">Tech</span>Park.</h1>
  <h2 class="main">Nos derniers produits à votre disposition.</h2>

  <div class="row">

    <!-- Parcourir les deniers produits -->
    <div *ngFor="let product of products" class="col-md-4 col-sm-6">
      <div class="card">
        <img class="card-img-top" src="{{ product.imgPath }}" alt="{{ product.title }}">
        <h5 class="price"><span class="badge badge-success">{{ product.price }} €</span></h5>

        <div class="card-body">
          <h5 class="card-title">{{ product.title }}</h5>
          <p class="card-subtitle mb-2 text-muted">Ajouté le: {{ product.dateAdded }}</p>

          <button type="button" [routerLink]="['/product/', product.id]" class="btn btn-primary">
            <i class="fa fa-info-circle"></i>  Savoir plus
          </button>

          <button type="button" (click)="addToCart(product)" class="btn btn-success" data-toggle="modal" data-target="#cartModal">
            <i class="fa fa-cart-plus"></i>  Ajouter au panier
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
